<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= fruit.name%></title>
  </head>
  <body>
    <a href="/fruits">Back to fruits</a>
    <h1><%= fruit.name%>></h1>

more fruit details added here

  </body>
</html>
